* {
    font-family: 'Libre Franklin', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: 'Poppins';
    text-align: center;
    min-height: 80px;
    background-color: #E77500;
    padding-top: 50px;
    margin-top: 0;
}

.color-palette {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.color {
    vertical-align: middle;
    text-align: center;
    min-width: 80px;
    margin: 2px;
    padding: 25px;
    border-radius: 20px;
    color: #333333;
    font-weight: 200;
    flex-grow: 1;
}

h3 {
    font-family: 'Poppins';
    width: 100%;
    padding-left: 50px;
}

.credits {
    padding-left: 20px;
}

h2 {
    font-family: 'Poppins';
    text-align: center;
    background-color: #f5a130;
    width: 100%;
    padding: 25px;
    margin-bottom: 0;
}

.section {  
    background-color: #EEEEEE;
    padding: 5%;
    margin: 0;
}

.font-frame {
    display: inline-block;
    padding: 2%;
    width: 40%;
    min-width: 200px;
    border: 1px solid #333333;
    margin: 2.5%;
    border-radius: 20px;
    background-color: #FFFFFF;
}

footer {
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color: #BAC7D8;
    background-color: #333333;
    width: 100%;
    position: absolute;
}

a {
    color: #e8ad6d;
}
a:hover {
    cursor: pointer;
    color: #f58025;
}
a:active {
    color: #bc5713;
}